<% if @rider.id %>
	<% action_url = rider_url(@rider)%>
<% else %>
	<% action_url = riders_url %>
<%end%>

<% flight_no = @rider.flight.flight_no if @rider.flight %>
<% flight_date = @rider.flight.flight_date if @rider.flight %>
<% phone_no = current_user.phone_no if current_user %>


<nav class="navbar navbar-default" role="navigation">
  <h1>Fly'n'Ride</h1>
</nav>
<div class="container">
  <div>
    Tell us about your flight information and your final destination, and we will match you up with riders from your flight!
    <span>We don't store or share your data.</span>
  </div>

  <form action="<%= action_url %>" method="post" role="form">
    
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		
		
		<% if @rider.user_id %>
	  	<input type="hidden" name="_method" value="put" />
			<input name="rider[user_id]" type="hidden" value="<%= @rider.user_id %>">
		<% end %>

    <div class="form-group">
      <label for="flightdate">Flight Date</label>
      <input type="date" value="<%= flight_date %>" name="flight[date]" class="form-control" id="flightdate" placeholder="Enter Flight Date">
    </div>

		
    <div class="form-group">
      <label for="flightno">Flight No.</label>
      <input type="text" value="<%= flight_no %>" name="flight[flight_no]" class="form-control" id="flightno" placeholder="Enter Flight No.">
    </div>
    
		<div class="form-group">
      <label for="destination">Final Destination</label>
      <input type="text" value="<%= @rider.final_dest %>" name="rider[final_dest]" class="form-control" id="destination" placeholder="Final Destination">
    </div>
    <button type="submit" class="btn btn-default">Find Other Riders!</button>
  </form>
</div>